{% extends "base.html" %}

{% block title %}Upload Files - Nutricheck{% endblock %}

{% block content %}
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-container p-5 shadow rounded">
                    <h2 class="mb-4 text-center text-primary">Nutricheck - Upload Your Excel File</h2>
                    <p class="text-center">Upload an Excel file to analyze nutritional data and calculate PDCAAS and IVPDCAAS claims for various products.</p>

                    <form id="uploadForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3">Upload and Analyze</button>
                        <div id="fileError" class="text-danger mt-3" style="display: none;">
                            Please upload a file in Excel format (.xlsx or .xls).
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById("uploadForm").addEventListener("submit", function(event) {
        const fileInput = document.querySelector('input[type="file"]');
        const filePath = fileInput.value;
        const allowedExtensions = /(\.xlsx|\.xls)$/i;
        const errorElement = document.getElementById("fileError");

        if (!allowedExtensions.exec(filePath)) {
            event.preventDefault();
            errorElement.style.display = "block";
            fileInput.value = "";
        } else {
            errorElement.style.display = "none";
        }
    });
</script>
{% endblock %}

